{% extends 'base.html' %}
{% load custom_tag %}
{% block title %} Nos Produits {% endblock%}
{%  block content %}
    <div class="content">
        <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Nom</th>
      <th scope="col">Categorie</th>
      <th scope="col">Prix</th>
    </tr>
  </thead>
  <tbody>
    {% for Product in products%}
    <tr class="table-active">
      <th scope="row">{{ Product.user}}</th>
      <td>{{ Product.name}}</td>
      <td>{{ Product.category}}</td>
      <td>{{ Product.price}}</td>
      
    </tr>
    {% endfor %}

  </tbody>
</table>
    </div>
{%  endblock %}